In [26]:
import pandas as pd
import numpy as np

In [27]:
df.sample(15)

,id,country,gender,uid,group,join_dt,device,uid.1,dt,device.1,spent
24501,1024955,USA,M,1024955,B,2023-01-28,I,NaN,NaN,NaN,NaN
18349,1018692,TUR,F,1018692,B,2023-01-28,A,NaN,NaN,NaN,NaN
31640,1032226,USA,M,1032226,B,2023-01-25,I,NaN,NaN,NaN,NaN
20576,1020959,DEU,NaN,1020959,A,2023-01-25,I,NaN,NaN,NaN,NaN
3927,1004006,BRA,M,1004006,B,2023-02-03,A,NaN,NaN,NaN,NaN
15636,1015922,CAN,NaN,1015922,B,2023-02-01,I,NaN,NaN,NaN,NaN
35673,1036345,MEX,F,1036345,B,2023-01-26,I,NaN,NaN,NaN,NaN
14995,1015273,FRA,F,1015273,A,2023-01-27,I,NaN,NaN,NaN,NaN
35145,1035807,USA,F,1035807,B,2023-02-02,A,NaN,NaN,NaN,NaN
28711,1029228,TUR,M,1029228,B,2023-01-28,A,NaN,NaN,NaN,NaN
13931,1014190,USA,M,1014190,A,2023-01-26,I,NaN,NaN,NaN,NaN
8335,1008498,BRA,F,1008498,A,2023-01-28,I,NaN,NaN,NaN,NaN
28433,1028945,DEU,F,1028945,B,2023-01-25,I,NaN,NaN,NaN,NaN
15318,1015599,USA,F,1015599,A,2023-01-27,I,NaN,NaN,NaN,NaN
26674,1027155,USA,M,1027155,B,2023-01-29,I,NaN,NaN,NaN,NaN

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49082 entries, 0 to 49081
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        49082 non-null  int64
 1   country   48435 non-null  object
 2   gender    42200 non-null  object
 3   uid       49082 non-null  int64
 4   group     49082 non-null  object
 5   join_dt   49082 non-null  object
 6   device    48787 non-null  object
 7   uid.1     2233 non-null   float64
 8   dt        2233 non-null   object
 9   device.1  2223 non-null   object
 10  spent     2233 non-null   float64
dtypes: float64(2), int64(2), object(7)
memory usage: 4.1+ MB

In [30]:
print(df.isnull().sum())
print(df.duplicated().sum())

id              0
country       647
gender       6882
uid             0
group           0
join_dt         0
device        295
uid.1       46849
dt          46849
device.1    46859
spent       46849
dtype: int64
0

In [31]:
df_new = df.dropna()
df_new

,id,country,gender,uid,group,join_dt,device,uid.1,dt,device.1,spent
38,1000039,GBR,F,1000039,B,2023-02-04,A,1000039.0,2023-02-04,A,36.650000
44,1000045,USA,F,1000045,B,2023-01-26,I,1000045.0,2023-01-30,I,51.580000
69,1000071,USA,F,1000071,B,2023-01-31,I,1000071.0,2023-02-02,I,6.710000
98,1000101,MEX,F,1000101,B,2023-02-02,A,1000101.0,2023-02-05,A,5.674497
99,1000101,MEX,F,1000101,B,2023-02-02,A,1000101.0,2023-02-02,A,18.130000
...,...,...,...,...,...,...,...,...,...,...,...
48964,1049880,TUR,M,1049880,A,2023-01-26,I,1049880.0,2023-01-26,I,186.690000
48975,1049891,BRA,F,1049891,B,2023-01-26,A,1049891.0,2023-01-26,A,47.140000
48978,1049894,BRA,F,1049894,A,2023-01-25,I,1049894.0,2023-01-25,I,34.050000
49010,1049927,AUS,F,1049927,A,2023-01-25,A,1049927.0,2023-01-25,A,52.030000
49055,1049973,MEX,F,1049973,B,2023-01-27,A,1049973.0,2023-01-31,A,85.930000

In [44]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1842 entries, 38 to 49055
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        1842 non-null   int64
 1   country   1842 non-null   object
 2   gender    1842 non-null   object
 3   uid       1842 non-null   int64
 4   group     1842 non-null   object
 5   join_dt   1842 non-null   object
 6   device    1842 non-null   object
 7   uid.1     1842 non-null   float64
 8   dt        1842 non-null   object
 9   device.1  1842 non-null   object
 10  spent     1842 non-null   float64
dtypes: float64(2), int64(2), object(7)
memory usage: 172.7+ KB

In [47]:
len(df_new)/len(df) *100

3.752903304673811

In [32]:
control_group = df[df['group'] == 'A']
control_group

,id,country,gender,uid,group,join_dt,device,uid.1,dt,device.1,spent
1,1000001,BRA,M,1000001,A,2023-01-27,A,NaN,NaN,NaN,NaN
2,1000002,FRA,M,1000002,A,2023-02-01,A,NaN,NaN,NaN,NaN
4,1000004,DEU,F,1000004,A,2023-02-04,A,NaN,NaN,NaN,NaN
7,1000007,BRA,F,1000007,A,2023-01-25,A,NaN,NaN,NaN,NaN
8,1000008,BRA,F,1000008,A,2023-02-05,A,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
49069,1049987,BRA,M,1049987,A,2023-01-26,I,NaN,NaN,NaN,NaN
49071,1049989,MEX,M,1049989,A,2023-01-25,I,NaN,NaN,NaN,NaN
49075,1049993,USA,M,1049993,A,2023-01-25,A,NaN,NaN,NaN,NaN
49076,1049994,USA,F,1049994,A,2023-01-25,A,NaN,NaN,NaN,NaN
49078,1049996,USA,F,1049996,A,2023-01-29,A,NaN,NaN,NaN,NaN

In [33]:
treatment_group = df[df['group'] == 'B']
treatment_group

,id,country,gender,uid,group,join_dt,device,uid.1,dt,device.1,spent
0,1000000,CAN,M,1000000,B,2023-01-28,I,NaN,NaN,NaN,NaN
3,1000003,BRA,M,1000003,B,2023-01-25,I,NaN,NaN,NaN,NaN
5,1000005,GBR,F,1000005,B,2023-01-26,A,NaN,NaN,NaN,NaN
6,1000006,ESP,M,1000006,B,2023-01-31,A,NaN,NaN,NaN,NaN
10,1000010,BRA,M,1000010,B,2023-02-01,I,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
49074,1049992,CAN,M,1049992,B,2023-01-25,I,NaN,NaN,NaN,NaN
49077,1049995,BRA,F,1049995,B,2023-02-03,A,NaN,NaN,NaN,NaN
49079,1049997,BRA,M,1049997,B,2023-02-03,A,NaN,NaN,NaN,NaN
49080,1049998,CAN,M,1049998,B,2023-02-03,I,NaN,NaN,NaN,NaN
49081,1049999,GBR,M,1049999,B,2023-01-29,I,NaN,NaN,NaN,NaN

In [34]:
control_spent_per_user = df.loc[df['group'] == 'A', 'spent'].sum() / df.loc[df['group'] == 'A', 'uid'].nunique()
treatment_spent_per_user = df.loc[df['group'] == 'B', 'spent'].sum() / df.loc[df['group'] == 'B', 'uid'].nunique()
control_spent_per_user

3.374518467928841

In [35]:
treatment_spent_per_user

3.3908669458857834

In [36]:
from scipy.stats import t

control_spent_per_user = df.loc[df['group'] == 'A', 'spent'].sum() / df.loc[df['group'] == 'A', 'uid'].nunique()
control_sample_size = df.loc[df['group'] == 'A', 'uid'].nunique()
control_sample_std = df.loc[df['group'] == 'A', 'spent'].std()

control_standard_error = control_sample_std / np.sqrt(control_sample_size)

confidence_level = 0.95
degrees_of_freedom = control_sample_size - 1
critical_value = t.ppf(confidence_level, degrees_of_freedom)
margin_of_error = critical_value * control_standard_error
lower_bound = control_spent_per_user - margin_of_error
upper_bound = control_spent_per_user + margin_of_error

print("95% confidence interval for the average amount spent per user in the control group: ({:.2f}, {:.2f})".format(lower_bound, upper_bound))

95% confidence interval for the average amount spent per user in the control group: (2.36, 4.39)

In [37]:
control_spent_per_user = df.loc[df['group'] == 'B', 'spent'].sum() / df.loc[df['group'] == 'B', 'uid'].nunique()
control_sample_size = df.loc[df['group'] == 'B', 'uid'].nunique()
control_sample_std = df.loc[df['group'] == 'B', 'spent'].std()

control_standard_error = control_sample_std / np.sqrt(control_sample_size)

confidence_level = 0.95
degrees_of_freedom = control_sample_size - 1
critical_value = t.ppf(confidence_level, degrees_of_freedom)
margin_of_error = critical_value * control_standard_error
lower_bound = control_spent_per_user - margin_of_error
upper_bound = control_spent_per_user + margin_of_error

print("95% confidence interval for the average amount spent per user in the treatment group: ({:.2f}, {:.2f})".format(lower_bound, upper_bound))

95% confidence interval for the average amount spent per user in the treatment group: (2.45, 4.33)

In [38]:
control_converted = control_group[control_group['spent'] > 0]['id'].nunique()

treatment_converted = treatment_group[treatment_group['spent'] > 0]['id'].nunique()

control_total = control_group['id'].nunique()

treatment_total = treatment_group['id'].nunique()

control_conversion_rate = control_converted / control_total

treatment_conversion_rate = treatment_converted / treatment_total

print("Control group user conversion rate: {:.2f}%".format(control_conversion_rate * 100))
print("Treatment group user conversion rate: {:.2f}%".format(treatment_conversion_rate * 100))

Control group user conversion rate: 3.92%
Treatment group user conversion rate: 4.63%

In [39]:
import scipy.stats as stats

control_converted = control_group[control_group['spent'] > 0]['id'].nunique()

control_total = control_group['id'].nunique()

control_conversion_rate = control_converted / control_total

se = np.sqrt(control_conversion_rate * (1 - control_conversion_rate) / control_total)

z = stats.norm.ppf(0.975)
me = z * se

ci_low = control_conversion_rate - me
ci_high = control_conversion_rate + me

print("95% confidence interval for the conversion rate in the control group: ({:.2f}%, {:.2f}%)".format(ci_low , ci_high ))

95% confidence interval for the conversion rate in the control group: (0.04%, 0.04%)

In [40]:
treatment_converted = treatment_group[treatment_group['spent'] > 0]['id'].nunique()

treatment_total = treatment_group['id'].nunique()

treatment_conversion_rate = treatment_converted / treatment_total

se = np.sqrt(treatment_conversion_rate * (1 - treatment_conversion_rate) / treatment_total)

z = stats.norm.ppf(0.975)
me = z * se

ci_low = treatment_conversion_rate - me
ci_high = treatment_conversion_rate + me

print("95% confidence interval for the conversion rate in the treatment group: ({:.2f}%, {:.2f}%)".format(ci_low * 100, ci_high * 100))

95% confidence interval for the conversion rate in the treatment group: (4.37%, 4.89%)

In [43]:
treatment_converted = treatment_group[treatment_group['spent'] > 0]['id'].nunique()

treatment_total = treatment_group['id'].nunique()

treatment_conversion_rate = treatment_converted / treatment_total

control_converted = control_group[control_group['spent'] > 0]['id'].nunique()

control_total = control_group['id'].nunique()

control_conversion_rate = control_converted / control_total

p_pool = (treatment_converted + control_converted) / (treatment_total + control_total)

se = np.sqrt(p_pool * (1 - p_pool) * (1/treatment_total + 1/control_total))

z = (treatment_conversion_rate - control_conversion_rate) / se

p = stats.norm.sf(abs(z)) * 2

print("Test statistic: {:.2f}".format(z))
print("P-value: {:.4f}".format(p))

if p < 0.05:
    print("The difference in conversion rates between the treatment and control groups is statistically significant at the 5% level.")
else:
    print("There is not enough evidence to conclude that there is a difference in conversion rates between the treatment and control groups at the 5% level.")

Test statistic: 3.86
P-value: 0.0001
The difference in conversion rates between the treatment and control groups is statistically significant at the 5% level.

Based on the results of the A/B test, which showed a statistically significant difference in conversion rates between the treatment and control groups, it appears that the banner experience had a positive impact on user behavior and increased conversions.

Therefore, my recommendation to the stakeholders would be to launch the banner experience to all users on the mobile website. However, it's important to consider the costs and resources required to implement the banner experience, as well as any potential long-term effects on user behavior and engagement.

Additionally, it may be worthwhile to conduct further testing and analysis to optimize the banner design and placement, and to ensure that the positive effects on user behavior are sustained over time.

In [59]:
import datetime 
import datetime as dt
df['dt'] = pd.to_datetime(df['dt'])
df['join_dt'] = pd.to_datetime(df['join_dt'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49082 entries, 0 to 49081
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        49082 non-null  int64
 1   country   48435 non-null  object
 2   gender    42200 non-null  object
 3   uid       49082 non-null  int64
 4   group     49082 non-null  object
 5   join_dt   49082 non-null  datetime64[ns]
 6   device    48787 non-null  object
 7   uid.1     2233 non-null   float64
 8   dt        2233 non-null   datetime64[ns]
 9   device.1  2223 non-null   object
 10  spent     2233 non-null   float64
dtypes: datetime64[ns](2), float64(2), int64(2), object(5)
memory usage: 4.1+ MB

In [60]:
# Join_dt-the date the user joined the test.check A/B test time
print(df['join_dt'].min())
print(df['join_dt'].max())
df.join_dt.max() - df.join_dt.min()

2023-01-25 00:00:00
2023-02-06 00:00:00

Timedelta('12 days 00:00:00')

In [61]:
print(df['dt'].min())
print(df['dt'].max())
df.dt.max() - df.dt.min()

2023-01-25 00:00:00
2023-02-06 00:00:00

Timedelta('12 days 00:00:00')

In [67]:
# Day purchase activity users 
fig = px.line(df.groupby(df['dt'].dt.date)['id'].nunique().reset_index(),
              x="dt", y="id", title='DAU')
fig.show()

In [69]:
dau=df.groupby(df['dt'])['id'].nunique().reset_index()
dau.head()

          dt   id
0 2023-01-25  385
1 2023-01-26  315
2 2023-01-27  263
3 2023-01-28  213
4 2023-01-29  167

In [76]:
df.groupby(df['gender'])['id'].nunique().reset_index()

  gender     id
0      F  20130
1      M  20289
2      O   1669

In [77]:
df.groupby(df['country'])['id'].nunique().reset_index()

  country     id
0     AUS   1168
1     BRA   9434
2     CAN   1570
3     DEU   3854
4     ESP   1993
5     FRA   3090
6     GBR   2949
7     MEX   5738
8     TUR   3732
9     USA  14772

In [94]:
df_new.groupby(df_new['country'])['spent'].nunique().reset_index()

  country  spent
0     AUS     26
1     BRA    320
2     CAN     83
3     DEU    141
4     ESP     60
5     FRA     98
6     GBR     97
7     MEX    186
8     TUR    120
9     USA    673

In [78]:
# Device-the device type the user purchased on (I = iOS, A = android)
df.groupby(df['device'])['id'].nunique().reset_index()

  device     id
0      A  30289
1      I  18360

In [93]:
df_new.groupby(df_new['device'])['spent'].nunique().reset_index()

  device  spent
0      A    812
1      I    969